$blackblue: #031920;
$gblue: #032a30;
$gray: #354d57;
$blue: #68c7e3;
$yellow: #ebb64e;

@font-face {
  font-family: "Gilroy Regular";
  src: url("Gilroy-Regular.eot");
  src: url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Regular.woff") format("woff"),
    url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

  font-family: "Gilroy Semibold";
  src: url("Gilroy-SemiBold.eot");
  src: url("Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-SemiBold.woff") format("woff"),
    url("Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
